
body{
    background: #333333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    color: white;
}
html{
    overflow: hidden;
}
body, html{
    height: 100%;
}

.navone ul li{
    float: right;
}
*{
    box-sizing: border-box;
  }

.navone {z-index: 2;}

.navone ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1900px;
    overflow: hidden;
    background-color: #333;
    border: 1px solid #e7e7e7;
}

.navone ul li a:hover:not(.aktiviertén){
    background-color: #111;
}
.navone ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#leftn{
    float: left;
}

#fistp{
    width: 1920px;
    height: 1080px;
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    z-index: 2;
    box-shadow: black 0px 5px 20px;
    margin-bottom: 20px;
}

#fistp header h1{
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Voltage;
    font-size: 120px;
    text-shadow: black 0px 0px 20px, 0 0 0 black;

}

#fistp img{
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.navside ul{

    list-style-type: none;
    margin: 0;
    margin-left: -5px;
    padding: 0;
    width: 100px;
    overflow: hidden;
    background-color: #333;
    border: 1px solid #e7e7e7;
    top: 40%;
    position: fixed;
    border-radius: 5px;
    box-shadow: black 0px 0px 20px;
}
.navside ul li{
 float: left;
}
.navside ul li a:hover:not(.aktiviertén){
    background-color: #111;
}
.navside ul li a{
    margin-left: 5px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.aktiviertén{
    background-color:#31c3d6;
}
#cont{
    color: white;
    margin-left: 15%;
    margin-right: 15%;
    border: white 5px solid;
    border-radius: 10px;
    padding: 5px 15px;
}
.Hc1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px ;

}
.Hc1 h2{
    font-size: 40px;
    text-align: center;
    font-weight: 300;
    
}
.Hc1 p{
    font-size: 20px;
    font-weight: 100;
}
.foobar{
    margin: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: gray;
    display: block;
    text-align: center;
    padding-right: 5%;
    padding-top: 3px;
    color: white;
    padding-bottom: 5px;
    clear:both;
}
.f1 {
list-style-type: none;

}
.f1 li{
    float: left;
}
.f1  li a{
padding: 12px 14px;
display: block;
color: black;
transition: .2s ease-in-out;
}
.f2 {
    list-style-type: none;

}
.f2 li{
    float: right;

}
.f2  li a{
    display: block;
    padding: 12px 14px;
    color: black;
    transition: .2s ease-in-out;

}
.f1 li a:hover{
    color: white;
}
.f2 li a:hover{
    color: white;
}
.thanks{
    text-anchor: middle;
    clear: both;

}

.thanks img{
    color: red;
    align-items: center;
    vertical-align: middle;
    height: 25px;

}
.thanks img:hover{
    content: url(../bilder/heart\ purpel.svg);

}
#news{
    font-size: 20px;
    font-weight: 900;
    text-decoration: solid white 1px underline;
    text-align: center;
}
#newsA{
    color: red;
    font-size: 50px;
    
    padding-top: 10px;
    padding-bottom: 20px;
}
#newssec{
    text-align: center;
    border: white solid 2px;
}
#smol1{
    float: left;
    font-size: 10px;
}
#smol2{
text-align: left;
font-size: 10px;
}

#verkauf{
    margin: auto;
    padding: 10px;
    border: black 10px solid;
    border-radius: 30px;
    width: 1230px;
    height: 1900px;
    background: rgb(0, 0, 0, 0.7);
    
}
#boishop{
padding-top: 120px;
}
#shopmbackimg{
    background-image: url("../bilder/Shop_Background_Blur.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: absolute;
    background-size: cover;
    background-position-y: -300px;
    height: 100%;
}



.artikel{
    border: black solid 5px;
    border-radius: 10px;
    width: fit-content;
    position: relative;
    width: 570px;
    float: left;
margin: 10px;
    
}
.artkimg{
    border-radius: 10px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.artkübergang{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.artikel:hover .artkimg{
    opacity: 0.4;

}
.artikel:hover .artkübergang{
    opacity: 1;

}
.artklinks{
    list-style-type: none;
    list-style: none;

}
.artklinks li a{
    color: white;
    background-color: rgb(0, 65, 51);
    padding: 16px 14px;
    transition: .5s ease-in-out;
    
}
.artklinks li a:hover{
    background-color: rgb(0, 255, 200);
    color: black;
}
.artktext{
margin-bottom: 300px;
padding: 16px 14px;
color: white;
background-color: #333;
}
.artka{
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.artkb{
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.prize{
    background-color: #333;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 16px 14px;
    color: white;
    font-size: 23px;
}

.contacts{
    float: left;
    border: solid white 5px;
    width: 500px;
    height: 1000px;
    border-radius: 20px; 
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: rgb(0, 0, 0, .5);
    color: white;
    font-size: 20px;
}
.contacts h2{
    font-size: 36px;
    color: white;
    text-align: center;
    text-decoration: underline solid white 5px;
}
.contacts img{
    height: 200px;
    float: left;
    border-radius: 15px;
}
.pictex{
    text-align: right;
    margin-right: 10px;
}
#firstcon{
margin-left: 20%;

margin-right: 20px;
}
#dogs{
    text-align: center;
    font-size: 24px;
}
#dogs img{
    margin-left: 30%;
}


.infos{
    margin-top: 100px;
    color: white;
    text-align: center;
    width: 920px;
    margin-left: 500px;
    border: white solid 15px;
    border-radius: 15px;
}
.infos h1{
    font-size: 42px;
}
.infos p{
    text-align: left;
    margin-left: 20px;
    font-size: 20px;
}
#dankefv{
    text-align: center;
}
#dankefv img{
    height: 25px;
    vertical-align: middle;
}
#bee{
    color:  white;
    width: 1260px;
    margin-left: 330px;
    border: #e7e7e7 3px solid;
    padding: 15px;
    margin-top: 100px;

}
#bee h1{
    font-size: 40px;
    text-align: center;
}
#copy{
    border: white solid 5px;
    width: 1260px;
    margin-left: 330px;
    margin-top: 30px;
    padding:  15px;
    color: white;
}
#copy h1{
    color: white;
    text-align: center;
    font-size: 30px;
}
#qr{
    margin-left: 500px;
}
#ftb{
    text-align: center;
}
#beck{
    text-align: center;
    margin-top: 30px;
    padding: 20px 24px;
    color: white;
    background-color: blueviolet;
}
#dnks{
    margin-left: 500px;
    border:  white solid 4px;
    width: 920px;
    text-align: center;
    height: 150px;
    margin-top: 400px;
}
#creds{
border: white solid 2px;
border-radius: 5px;
width: 920px;
margin-left: 500px;
padding: 20px;
background-color: rgb(0, 0, 0, .3);
margin-top: 50px;
}
#creds h1{
    font-size: 46px;
    text-align: center;
}
#creds p{
    font-size: 20px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}
#pics{
    width: 1400px;
    border: white solid 3px;
    margin-left: 260px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 4300px;
    background-color: rgb(0, 0, 0, .6);
    margin-top: 50px;

}
#pics img {
    width: 500px;
    margin-left: 100px;
    margin-top: 50px;
   float: left;
    border: wheat solid 4px;
}
#imggg{
    width: 250px;

}